@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  overflow: scroll;
  background: url('./image/image.jpg') center / cover no-repeat;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 55%  45%;
  width: 100%;
  margin: 0px auto;
  padding-top: 50px;
  padding: 50px;
}
.content__page {
  padding-left: 40px;
}
